#root {
  max-width: 1280px;
  margin: auto;
  /* text-align: left; */
  /* align-items: center; */
  place-items: center;
}

.App {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  background:  hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
}


.cardImg{
  background-color:hsl(178, 100%, 50%);
  border-radius: 1.1rem;
}
.nftImg{
  width: 100%;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  display: block;
}
.nftImg:hover{
  opacity: .5;
  cursor: pointer;
}

.title{
  font-size: x-large;
}
.title:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.cardDetails{
  display: relative;
  border-bottom: solid 1pt hsl(215, 32%, 27%);
}

.description{
  padding-right: 1.5rem;
  font-size: 18px;
  line-height: 1.5;
  color: hsl(215, 51%, 70%);
}

.priceDuration{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}
.ethIcon, .duration{
  margin-right: .4rem;
}
.price{
  color:  hsl(178, 100%, 50%);
  font-weight: 600;
}
.duration{
  margin-left: auto;
}
.time{
  color: hsl(215, 51%, 70%);
}

.author{
  margin-top: 1rem;
  display: flex;
  place-items: center;
}

.authorImg{
  width: 35px;
  margin-right: 1rem;
  border: solid 1px white;
  border-radius: 100%;
}
.authSpan{
  color: hsl(215, 51%, 70%);
}
.name:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
